<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>526357008982-05o7thvv5rkj1at326eagv3qtuve6dkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526357008982-05o7thvv5rkj1at326eagv3qtuve6dkp</string>
	<key>API_KEY</key>
	<string>AIzaSyBbaO9p5pl9q6rU4tsxp75kD-_pNBwEkrY</string>
	<key>GCM_SENDER_ID</key>
	<string>526357008982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcabreram.volta</string>
	<key>PROJECT_ID</key>
	<string>volta-1d452</string>
	<key>STORAGE_BUCKET</key>
	<string>volta-1d452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526357008982:ios:dc1a0a52d891484a</string>
	<key>DATABASE_URL</key>
	<string>https://volta-1d452.firebaseio.com</string>
</dict>
</plist>